@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.text-center {
    text-align: center;
}

.text-vertical-center {
    display:flex;
    align-items: center;
    justify-content: center;
}

.text-vertical-top {
    display: flex;
    align-items: start;
    justify-content: center;
}

.container>.accordion-list {
    background: rgb(0,91,125);
    background: -moz-linear-gradient(90deg, rgba(0,91,125,1) 0%, rgba(0,212,255,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,91,125,1) 0%, rgba(0,212,255,1) 100%);
    background: linear-gradient(90deg, rgba(0,91,125,1) 0%, rgba(0,212,255,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#005b7d",endColorstr="#00d4ff",GradientType=1);
    -webkit-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.75);

    color: white;
    width: 80%;
    height: 80%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-flow: column nowrap;

    transition: all 0.5s;
}

.container>.accordion-list>h1 {
    font-size: 30px;
    text-align: center;
}

.container>.accordion-list>.col>p {
    font-size: 15px;
    padding: 10px;
}

.col {
    flex: 1;
	margin: 5px;
	text-align: center;
}

.img-header {
    width: 200px;
}

.btn-lg {
    background-color: white;
    color: rgba(0,212,255,1);
    border: none;
    border-radius: 10px;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.5s;
    cursor: pointer;
}

.btn-lg span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: all 0.5s;
}

.btn-lg span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn-lg:hover span {
    padding-right: 25px;
}

.btn-lg:hover span:after {
    opacity: 1;
    right: 0;
}

input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    color: white;
    background-color: transparent;
    width: 40%;
    text-align: center;
    display:inline-block
}

input {
    transition: width 0.4s ease-in-out;
}

input:focus {
    text-align: center;
}

@media screen and (min-width: 968px) {
    .container {
        background-image: url("../img/undraw_wallet.svg");
        background-position: bottom left;
        background-size: 400px;
        background-repeat: no-repeat;
    }

    .container>.accordion-list {    
        width: 40%;
        height: 80%;
    }
}